@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Inter, sans-serif;
}
body{
    background: #f9f9f9;
}

/*Navegation Bar*/
.navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 30px;
    border-radius: 10px;
}

.nav--menu{
    list-style: none;
    display: flex;
    gap: 20px;
    justify-content: center;
    flex-grow: 1;
}

.nav--logo img {
    max-height: 50px;
  }

.nav--menu li {
    display: inline;
  }
  
.nav--menu a {
    color: #020202;
    text-decoration: none;
    font-size: 16px;
    padding: 10px;
    font-family: Inter, sans-serif;
    font-weight: 400;
  }  

.nav--menu a::after{
    width: 19px;
    height: 2px;
    background-color: #fdca02;
}
#btn{
    display: inline-block;
    background-color: #fdca02;
    color: #171717;
    padding: 12px 20px;
    text-decoration: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    transition: transform 0.3s ease, background 0.3s ease;
}
#btn:hover {
    background: #c29c06;
}


/*Header*/

.hero{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 10%;
    background: #f9f9f9;
    flex-wrap: wrap;
    text-align: left;
}

.container{
    display: flex;
    justify-content: center;
    gap: 30;
}

.collumn{
    padding: 60px 60px;
}
img{
    margin-left: 15%;
}

.text-content h3 {
    font-size: 1rem;
    letter-spacing: 2px;
    color: #666;
}

.text-content h1 {
    font-size: 2.5rem;
    margin: 10px 0;
    font-weight: bold;
}

.text-content p {
    color: #666;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

.collumn{
    width: 100%;
}

span{
    color: #ff2323;
}

#btn--visita{
    display: inline-block;
    background-color: #fdca02;
    color: #171717;
    padding: 12px 20px;
    text-decoration: none;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    transition: transform 0.3s ease, background 0.3s ease;
}
.btn--visita:hover {
    transform: scale(1.05);
    background: #c29c06;
}

.text-content {
    max-width: 50%;
    opacity: 0;
    transform: translateX(-50px);
    animation: fadeInLeft 1s ease forwards;
}

.text-content h3 {
    font-size: 1rem;
    letter-spacing: 2px;
    color: #666;
}

.text-content h1 {
    font-size: 2.5rem;
    margin: 10px 0;
    font-weight: bold;
}

.highlight {
    color: #ff2323;
}

.text-content p {
    color: #666;
    font-size: 1.1rem;
    margin-bottom: 20px;
}

@keyframes fadeInLeft {
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

/* Imagem */
.image img {
    width: 400px;
    height: auto;
    opacity: 0;
    transform: scale(0.8);
    animation: fadeInImage 1s ease forwards 0.5s;
}

@keyframes fadeInImage {
    to {
        opacity: 1;
        transform: scale(1);
    }
}


/*Footer*/

h4{
    font-family: Rubik, sans-serif;
    font-size: 12px;
}

.copyright{
    justify-content: center;
    display: flex;
}

@media (max-width:1024px) {
  
}

@media (max-width:768px) {
    h1{
        font-size: 30px;
    }
    img{
        width: 100%;
        margin-left: -15px;
    }
    p{
        font-size: 12px;
    }
}

@media (max-width: 450px) {
    header {
        flex-direction: column;
        text-align: center;
    }

    nav ul {
        flex-direction: column;
        padding-top: 10px;
    }

    nav ul li {
        margin: 10px 0;
    }

    .hero {
        padding: 30px 5%;
    }

    .image img {
        width: 250px;
    }
    h1{
        font-size: 28px;
    }
}
