@import url(/assets/css/global/settins.css);
@import url(/assets/css/partials/index/header.css);
@import url(/assets/css/partials/index/hero.css);
@import url(/assets/css/partials/index/clients.css);
@import url(/assets/css/partials/index/status.css);
@import url(/assets/css/partials/index/gallery.css);
@import url(/assets/css/partials/index/team.css);

html{
    scrollbar-color: var(--third-bg);
}

body {
    background: var(--primary-text-color);
}


/*==== Footer ====*/

footer {
    background: var(--fifth--color);
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: grid;
    max-width: 800px;
    margin: auto;
}

.newsletter {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.newsletter input {
    padding: 10px;
    border: 1px solid var(--second-bg);
    border-radius: 5px 0 0 5px;
    width: 200px;
    outline: none;
}

.newsletter button {
    padding: 10px;
    background: var(--third-bg);
    border: 1px solid var(--second-bg);
    border-left: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.nav-links, .footer-links {
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.nav-links a, .footer-links a {
    text-decoration: none;
    color: #666;
}

.social-icons {
    margin: 15px 0;
}

.social-icons a {
    text-decoration: none;
    color: #666;
    font-size: 20px;
    margin: 0 10px;
}
.social-icons a:hover{
    color: var(--third-bg);
    transition: transform .5s ease-in-out;
}

.copyright {
    color: #777;
    font-size: 14px;
    margin-top: 10px;
}

/* Responsividade */


@media (max-width: 768px) {

    .newsletter {
        flex-direction: column;
        align-items: center;
    }

    .newsletter input {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    .newsletter button {
        width: 100%;
        border-radius: 5px;
    }

    .nav-links, .footer-links {
        flex-direction: column;
    }
	faqs{
		display: grid;
	}

}


