@import url(/assets/css/global/settins.css);


:root{
    --primary-bg: #f9f9f9;
    --secondary-bg: #ffca00;
    --third-bg: #d81812;
    --fourth-bg: #941f1a;
    --primary-text-color: #242424;
    --secondary-text-color: #f9f9f9;
    --third-color: #751d1a;
    --fourth-color: #717171;
}

body {
    background: var(--primary-bg);
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 10%;
    background: #fff;
    position: sticky;
    top: 0;
    width: 100%;
    z-index: 100;
    transition: all 0.3s ease;
}
/*== Navbar ==*/
.navbar{
    z-index: 100;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 60px;
    background: var(--primary-bg);
}
.logo img {
    max-height: 50px;
  }
.menu {
    list-style: none;
    display: flex;
    gap: 20px;
}
.menu li a {
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 18px;
}
.menu-toggle {
    display: none;
    font-size: 24px;
    color: var(--primary-text-color);
    cursor: pointer;
    position: absolute;
    right: 20px;
}
.nav__link span {
    position: relative;
    transition: margin .4s;
  }
  .nav__link span::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -6px;
    width: 0;
    height: 2px;
    background: var(--fourth-bg);
    transition: width .4s ease-out;
  }
  .nav__link:hover span {
    margin-left: 2.5rem;
  }
  .nav__link:hover i {
    opacity: 1;
    visibility: visible;
  }
  .nav__link:hover span::after {
    width: 100%;
  }
  #btn{
    background: var(--secondary-bg);
    color: var(--primary-text-color);
    padding: 10px 15px;
    text-decoration: none;
    border: none;
    font-weight: bold;
    border-radius: 5px;
    transition: transform 0.3s ease, background 0.3s ease;
}
#btn:hover {
    background: #ffd83e;
}
/*=== SERVIÇOS ===*/

.service {
    font-family: sans-serif;
  }
  .service h2 {
    color: var(--primary-text-color);
    text-align: center;
    font-size: 34px;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .container {
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px 0px;
  }
  
  .servcies-section-wrapper {
    width: 60%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 25px;
  }
  
  .services-box {
    color: var(--primary-text-color);
    width: 250px;
    padding: 30px 20px;
    border-radius: 12px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    transition: all 0.3s ease-in-out;
  }
  
  .services-box:hover {
    background: var(--secondary-bg);
  }
  
  .services-box h3,
  .services-box p {
    margin: 0px;
    text-align: center;
  }
  
  .services-box i {
    background-color: white;
    color: var(--secondary-bg);
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 40px;
    margin-bottom: 16px;
    font-size: 24px;
  }
  

/*==== Footer ====*/

footer {
    background: var(--primary-text-color);
    padding: 20px;
    text-align: center;
}

.footer-container {
    display: grid;
    max-width: 800px;
    margin: auto;
}

.newsletter {
    display: flex;
    justify-content: center;
    margin-bottom: 15px;
}

.newsletter input {
    padding: 10px;
    border: 1px solid var(--second-bg);
    border-radius: 5px 0 0 5px;
    width: 200px;
    outline: none;
}

.newsletter button {
    padding: 10px;
    background: var(--third-bg);
    border: 1px solid var(--second-bg);
    border-left: none;
    cursor: pointer;
    border-radius: 0 5px 5px 0;
}

.nav-links, .footer-links {
    list-style: none;
    padding: 10px;
    display: flex;
    justify-content: center;
    gap: 15px;
}

.nav-links a, .footer-links a {
    text-decoration: none;
    color: #666;
}

.social-icons {
    margin: 15px 0;
}

.social-icons a {
    text-decoration: none;
    color: #666;
    font-size: 20px;
    margin: 0 10px;
}
.social-icons a:hover{
    color: var(--third-bg);
    transition: transform .5s ease-in-out;
}

.copyright {
    color: #777;
    font-size: 14px;
    margin-top: 10px;
}

/* Responsividade */


@media (max-width: 768px) {

    .menu {
        display: none;
        flex-direction: column;
        position: absolute;
        background: var(--primary-bg);
        top: 70px;
        left: 0;
        width: 100%;
        height: auto; /* Permite que o menu se expanda conforme necessário */
        text-align: center;
        padding: 15px 0;
        z-index: 100;
    }
    
    .menu.show {
        display: flex;
    }

    .menu li {
        margin: 10px 0;
    }

    .menu-toggle {
        display: block;
        position: absolute;
        right: 20px;
        top: 50%;
        transform: translateY(-50%);
        font-size: 24px;
        cursor: pointer;
    }

    .navbar {
        padding: 15px 20px;
    }

    .hero {
        padding: 30px 5%;
        text-align: center;
    }

    .text-content h1 {
        font-size: 30px;
    }

    .text-content h3 {
        font-size: 1rem;
    }

    .text-content p {
        font-size: 1rem;
    }

    .newsletter {
        flex-direction: column;
        align-items: center;
    }

    .newsletter input {
        width: 100%;
        border-radius: 5px;
        margin-bottom: 5px;
    }

    .newsletter button {
        width: 100%;
        border-radius: 5px;
    }

    .nav-links, .footer-links {
        flex-direction: column;
    }

}


